@import url(Assests/FontsFree-Net-Billabong.ttf);
@import url(Assests/webfontkit-20211205-031830/fontsfree-net-billabong-webfont.woff);
body{
    margin: 0px;
    background-color: whitesmoke;
}
.container1{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
.item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: column;
    align-items: center;
    border: 2px solid #DBDBDB;
    padding: 30px;
    background-color: white;
    height: max-content; */
}
.f-flex{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:300px;
}
.Email{
    padding: 7px;
    margin: 5px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}
.Pass{
    padding: 7px;
    margin: 5px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;


}
.btn{
    padding: 7px;
    margin: 15px 5px 15px 5px;
    background-color:#0095F6;
    color: white;
    font-family: sans-serif;
    opacity: 0.5;
    font-weight: bold;

}
.R-flex{
    display: flex;
}
.a-flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.link{
    color: blue;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 20px;
    font-weight: 600;
}
.link-pass{
    color: blue;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 20px;
}
.container2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 25px;
    border: 2px solid #DBDBDB;
    padding: 10px;
    margin-top: 15px;
    background-color: white;
    height: max-content;
    width: 93%;
    
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #DBDBDB;
    padding: 30px;
    background-color: white;
    height: max-content;    
}
@font-face {
    font-family: billibong;
    src: url(/Insta/Assests/FontsFree-Net-Billabong.ttf);
}
.h-flex{
    font-family: sans-serif;
    font-size: 40px;
    font-family:billibong;
    letter-spacing: 3px;
    
}
.conatainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container4{
    display: flex;
    justify-content: center;
}
.imag{
    width: 150px;
    height: 40px;
}
@media screen and (max-width:1000px) {
    .item-img{
        display: none;
    }
}